bin/
obj/

node_modules/
.env
database/*.db
test*.db
__pycache__/

# Release artifacts
DemiCat.zip
latest.zip

# Local development artifacts
.venv/
.dotnet/
DemiCatPlugin/packages.lock.json

# DemiBot configuration
demibot/demibot/config.json

# Local build configuration
Directory.Build.props
